<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <!--RTX服务器IP和SDK端口-->
    <add key="rtxserverip" value="127.0.0.1"/>
    <add key="rtxserverport" value="8006"/>
    <!--短信字数限制
    
    -->
    <add key="smslimit" value="70000"/>
    <!--漫道序列号和密码  mandaoserialmumber-->
    <add key="mandaoserialnumber" value="SDK-AMD-010-01488"/>
    <add key="mandaoserialpassword" value="846952"/>
    <add key="" value=""/>
    <add key="" value=""/>
    <add key="" value=""/>
  </appSettings>
	<connectionStrings>
		<!--数据库连接字符串-->
		<add name="logconn" connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=SmsLog.mdb;Persist Security Info=True;" providerName="System.Data.OleDb"/>
	</connectionStrings>
</configuration>